$font: Verdana, sans-serif;

.movie-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: black;
  position: relative;
  overflow: hidden;
  height: 100%;
}

.card-styling {
  height: 50%;
  width: 50%;
}

.movie-background {
  position: absolute;
  height: 100%;
  z-index: -1;
  -webkit-animation: movie-background 5s ease-out both;
  animation: movie-background 5s ease-out both;
}

.card-styling {
  background-color: #f4f4f9;
  opacity: 0.95;
  height: 90%;
  width: 60%;
  border-radius: 10px;
  margin: 35px 0;
  box-shadow: 15px 10px 18px #888888;
  .title {
    font-family: $font;
    text-shadow: 2px 2px rgb(207, 200, 200);
    font-size: 48px;
    font-weight: bold;
    margin: 30px;
    -webkit-animation: title 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
    animation: title 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  }
}

.movie-poster {
  display: flex;
  justify-content: space-evenly;
  .movie-image {
    width: 30rem;
    height: 80vh;
    margin-bottom: 30px;
    box-shadow: 5px 10px 18px black;
  }
  .rating {
    align-self: center;
    height: 50vh;
    font-size: 38px;
    font-weight: bold;
    font-family: $font;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .rating-style {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      .thumb {
        height: 50px;
        width: 50px;
      }
    }
  }
}

.movie-info {
  font-family: $font;
  font-weight: bold;
  margin: 20px;
  .movie-trailer {
    position: relative;
    padding-top: 56.25%;
    margin-left: 70px;
    .react-player {
      position: absolute;
      margin-top: 30px;
      top: 0;
      left: 0;
      box-shadow: 5px 10px 18px black;
    }
  }
}

@-webkit-keyframes movie-background {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 84%;
    transform-origin: 50% 84%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(15px);
    transform: scale(1.25) translateY(15px);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
  }
}

@keyframes movie-background {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 84%;
    transform-origin: 50% 84%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(15px);
    transform: scale(1.25) translateY(15px);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
  }
}

@-webkit-keyframes title {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes title {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
