$borderColor: linear-gradient(to right, rgb(8, 98, 184), rgb(7, 207, 214), rgb(17, 190, 75), rgba(0, 128, 0, 0.945)) 1;

.movie-card {
  display: flex;
  flex-direction: column;
  height: 325px;
  width: 200px;
  max-height: 100%;
  max-width: 100%;
  margin: 10px;
  box-shadow: 5px 10px 8px #888888;
  background-color: #f4f4f9;
  border-radius: 5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent;
}

.movie-card:hover {
  cursor: pointer;
  border-width: 5px;
  border-style: solid;
  border-image: $borderColor;
}

.moviecard-link, .moviecard-link:after {
  text-decoration: none;
}

h4, p {
  color: black;
}

h4 {
  margin: 10px 0 0 0;
}

p {
  margin-top: 5px;
}

.movie-img {
  max-height: 250px
}