@font-face {
  font-family: 'Nightmare-Pills';
  src: url('../assets/NightmarePills-BV2w.ttf') format(('truetype'))
}
.page-nav {
  position: relative;
  background-color: rgb(15, 49, 60);
  color: white;
  height: 15vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 40px;
}

.home-button {
  position: absolute;
  // top: 50%;
  right: 27%;
  width: 80px;
  height: 80px;
  // background-image: url('../logo.svg');
}
.home-button:hover {
  cursor: pointer
}

.home-button:active {
  transform: translate(2px, 2px)
  
}

#title {
  position: absolute;
  right: 35%;
  font-family: Nightmare-Pills;
  font-size: 135%
}